.metadata/.lock
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/Exercise1.1491329300516.pdom
.metadata/.plugins/org.eclipse.cdt.core/Exercise1.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/Exercise1/1834384816
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/Exercise1/Exercise1
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.history/17/70ae957b731900171a49f9c76220e9d6
.metadata/.plugins/org.eclipse.core.resources/.history/1e/f02857f871190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/1e/f075854572190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/2/60db1a25731900171a49f9c76220e9d6
.metadata/.plugins/org.eclipse.core.resources/.history/27/0039f63471190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/2a/0006438863190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/2c/9016c96870190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/3c/d07d457c70190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/43/f0915139731900171a49f9c76220e9d6
.metadata/.plugins/org.eclipse.core.resources/.history/47/a02dfeac70190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/49/80b48c0870190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/4a/f0fd7a4a72190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/53/40e2c56870190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/57/20d7089770190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/57/80c833c26e190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/59/701e4f6d71190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/5b/c073eea170190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/5e/30d30e7d6e190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/5f/30dfc99070190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/6/10b119736e190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/61/50132b2162190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/63/7078115a72190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/65/4018576d72190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/66/f0d894e870190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/6c/807aa84664190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/70/807ccd5970190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/76/80ee5e1b6f190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/7a/00bf744570190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/85/f0661a3872190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/87/00265b31731900171a49f9c76220e9d6
.metadata/.plugins/org.eclipse.core.resources/.history/92/a0cb10fe6e190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/95/f0ed090f70190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/a5/a0c00ed563190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/a8/60ba093162190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/ad/003c32e86f190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/b0/e0d3c8e662190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/b2/8062041471190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/b7/700d04b571190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/b9/3046fed562190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/ba/10b0ddb86f190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/bb/70a0b0f271190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/bb/90360b776e190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/bb/907199b863190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/c2/a00ef4b270190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/d3/106ae4f161190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/d5/8049648e731900171a49f9c76220e9d6
.metadata/.plugins/org.eclipse.core.resources/.history/d7/800d84cc6f190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/d8/70c5a26470190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/da/001502c36e190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/dd/00bed4fa6f190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/dd/f055d56162190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/e0/a0ebd06270190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/e1/a0a2078970190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/e6/a029d78270190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/ea/008a615b70190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/ea/f072df79731900171a49f9c76220e9d6
.metadata/.plugins/org.eclipse.core.resources/.history/ec/f0961a01741900171a49f9c76220e9d6
.metadata/.plugins/org.eclipse.core.resources/.history/ed/80e4cd5e71190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.history/f7/d00b44a970190017154595ae30f803c1
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/a8/fe/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/a8/fe/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/a8/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/e4/fe/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/e4/fe/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/e4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise1/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Exercise1.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/4/14/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/4/14/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-8c4r1mn_32555/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-8c4r1mn_32555/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-8c4r1mn_32555/node.properties
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
Exercise1/.settings/language.settings.xml
RemoteSystemsTempFiles/.project
